<html>
    <head>
        <title>{{title|default('Floral Theme')}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{{ 'style.css'|assets(true) }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typeface-mr-de-haviland@1.1.13/index.min.css">
        <link href="http://fonts.cdnfonts.com/css/lora" rel="stylesheet">
        {{ metadata|meta  }}
    </head>
    <body style="background-image: url({{ ('bg2.jpg'|assets(true)) if watermark is not defined else (watermark|assets()) }});">
        <div id="root" ></div>
        <footer>
          {{footer}}
          </footer>
        <div class="bottom-bar">{{copyright|safe}}</div>
    </body>
</html>