<div class="hero"  style="background-image:url({{'bg.jpg'|assets(true)}})">
    <div>
        <h1>Configuration</h1>
    </div>
</div>

<div style="padding: 0 20px">
    <div class="bgpink">
        {% highlight %}  
            title: 'Genysite Floral Theme',
            home_menu: [
                ['Css Styles & Components', '/css'],
                ['Configuration Variables', '/configuration']
            ],
            menu: [
                ['Home', '/'],
                ['Css Styles && Components', '/css'],
                ['Configuration Variables', '/configuration']
            ],
            watermark: 'bb.jpg',
            intro_bg: 'bb.jpg',
            menu_bg: 'red'
        {% endhighlight %}  
    </div>
</div>
