
  <div class="quote">
    <h3>Nos bouquets</h3>
    <h4 style='margin-bottom:50px''>Mettez une couche de bonheur dans votre vie</h4>
  </div>
  
  <div class="bgpink">
    <h3>Wonderful</h3>
    <h4>A flower who looks good</h4>
    <div class="rowflowers">
        <div style="background-image:url({{ 'fl1.jpg'|assets(true) }})">
          <div>coucou</div>
        </div>
        <div style="background-image:url({{ 'fl2.jpg'|assets(true) }})">
          <div>coucou</div>
        </div>
        <div style="background-image:url({{ 'fl3.jpg'|assets(true) }})">
          <div>coucou</div>
        </div>
        <div style="background-image:url({{ 'fl4.jpg'|assets(true) }})">
          <div>coucou</div>
        </div>
    </div>
  </div>

  <div class="quote">
    <h3>Nos bouquets</h3>
    <h4 style='margin-bottom:50px'>Mettez une couche de bonheur dans votre vie</h4>
  </div>
  
  <div class="bloc" style="color:white; background-image:url({{'roses.jpg'|assets(true)}})">
  
  <div class="content">
    <h3>Un blabla</h3>
    <h4>Un pire putain de blabla</h4>
    <p>
    blablabl  lballablablballbal l</p>
    </div>
  </div>

<div class="bgpink quote" id="contact">
    <p>blablballbalbalbalbal</p>
  </div>